.bio,
.edu {
    position: relative;
}

.edit-button,
.add-button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}