.app {
  position: relative;
}

.resume {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

%section {
  position: relative;
  margin-bottom: 1rem;
}

.skills {
  position: relative;
}

.bio,
.edu,
.exp {
  @extend %section;
  display: flex;
  flex-direction: column;
}

.edit-option,
.add-option {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-button,
.add-button {
  justify-self: center;
}

.edit-button.bio-edit {
  transform: translateY(60px);
}

.entry-options {
  position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

.entry-skill-options {
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translateX(180px);
  display: flex;
  gap: 6px;
}

%section-header,
.section-header {
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.entry-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.study {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.degree,
.position {
  font-weight: 600;
}

.form-div,
%form-div {
  margin: 10px;

  form {
    padding: 10px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 6px;
    margin: 0 auto;

    label {
      justify-self: end;
      font-weight: 600;
    }

    button {
      grid-column-start: span 2;
      width: 50%;
      justify-self: center;
    }
  }
}

.form-skills-div {
  @extend %form-div;
  form {
    width: 33%;
  }
}

.name {
  @extend %section-header;
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 600;
}

.bio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Skills

%skills-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  text-align: center;
  gap: 0;
  margin-top: 1rem;
}

.skills-list-1 {
  @extend %skills-list;
}

.skills-list-2 {
  @extend %skills-list;
  grid-template-columns: repeat(2, 1fr);
}

.skills-list-3 {
  @extend %skills-list;
  grid-template-columns: repeat(3, 1fr);
}

// Buttons

button,
%button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  //   font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  color: white;
  background: #4a0160;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  cursor: pointer;
  background: #700192;
}

button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

// welcome

.start {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.552);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
}

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  background: rgb(203, 181, 212);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 40%;
  border-radius: 6px;


  .title {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    padding: 2rem 0;
  }

  .step {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    font-size: 1.25rem;
    text-align: start;
  }

  .action {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: CENTER;
    align-self: center;
  }

  .learn {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-style: italic;
    padding: 2rem 0;
  }

  .code {
    font-family: monospace;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 3px;
  }
}

.close {
  font-weight: 700;
  font-size: 4rem;
  position: fixed;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
